body{
	background-color: #f2f2f2;
}

.create,.about {
	margin: 1px;
	padding: 5px;
	text-align: left;
	width: 240px;
	border: 1px black;
	cursor: pointer;
	background-color:  #f2f2f2;
	font-size: 0.9em;
}

.create:HOVER, .about:HOVER {
	background-color: #e6e6e6;
}

hr {
	color: #d9d9d9;
	margin:0px;
}

.history {
	width: 240px;
	height: 160px;
	font-size: 0.9em;
	padding: 5px;
}