@charset "utf-8";

body {
	color: #FFFFFF;
}

#types {
	position: fixed;
	border: none;
	width: 200px;
	height: 40px;
	background-color: #62ABF7;
	transition: 1s;
	cursor: pointer;
}

#types:hover {
	background-color: #467DB7;
}

#left {
	width: 55%;
	height: 100%;
	position: fixed;
	left: 10px;
	top: 50px;
	overflow: hidden;
}

#right {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 50px;
	right: 10px;
	text-align: center;
}

#steps {
	margin-top: 20px;
}

#steps button {
	margin: 1px;
}

.btn {
	border: none;
	display: inline-block;
	width: 150px;
	height: 30px;
	background-color: #B3B3B3;
	cursor: pointer;
}

#tool_container {
	width: 90%;
	height: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
	padding: 20px;
	display: block;
}

.demopic {
	width: 200px;
	margin: 10px;
	border: 2px solid #FFFFFF;
	cursor: pointer;
	transition: 1s;
}

.clickPic {
	border: #8A0002 solid 2px;
}

.clickPic:hover {
	border: #FF0004 2px solid;
}

#view {
	border: 1px solid #FFFFFF;
	width: 100%;
}